 /*
   * "hana's GitHub Portfolio" Custom Css File.
   * Copyright hana.
   * https://github.com/hana-mignon.
 */  
 h1 {color:#e17e66;} h2 {color:hotpink;} .continer-wrapper {background: linear-gradient(to bottom,pink,white 90%, transparent 10%,white 1%) !important;background-size: 18px 100%;}  
