<div class="uk-inline-clip uk-transition-toggle">
    <h1 class="uk-heading-large uk-margin-large-top uk-padding-large">
       <span uk-icon="icon: user; ratio:5.5"></span>
       <span hidden>
            hana
       </span>
    </h1><!-- uk-heading-large uk-margin-large-top uk-padding-large -end -->
    <img src="/images/avatar_hana_copyright.png" class="uk-transition-fade uk-position-cover uk-border-circle uk-margin-top" alt="hana">
</div><!-- uk-inline-clip uk-transition-toggle -end -->
                                
<div class="uk-inline-clip uk-transition-toggle">
    <h2 class="uk-heading-large uk-margin-large-top uk-padding-large">
       <span uk-icon="icon: heart; ratio:5.5"></span>                                       
       <span hidden>
            hana
       </span>
    </h2><!-- uk-heading-large uk-margin-large-top uk-padding-large -end -->
    <img src="/images/hana_love.png" class="uk-transition-slide-bottom-small uk-position-cover uk-margin-large-top" alt="love">
</div><!-- uk-inline-clip uk-transition-toggle -end -->
